/* css styles */

/* arrange the list of links in a row with flex */
.links {
    width: 90%;
    margin: 0 auto;
  }
  
  .links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* style the links */
  .links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  
  /* remove list styling */
  .links ul {
    list-style: none;
  }
  
  .bi::before {
    margin-right: 0.2em;
  }